<!DOCTYPE	html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz./thymeleaf/layout"
	layout:decorator="LayoutPadrao"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
	
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	</head>
<section layout:fragment="Conteudo">
<body>
	<div style="margin: 20px">
		<h3>Mantenha sua escola e alunos</h3>
	</div>
	<div style="margin: 20px">
		<a class="navbar-brand" th:href="@{/}"><img src="../static/images/escola.png" th:src="@{/images/escola.png}" class="logo" style="width: 300px"/></a>
	</div>
	<div class="container">
		<div class="collapse navbar-collapse" id="bs-example-navbarcollapse-1">
			<ul class="nav nav-pills navbar-left">
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/escolas}">Escolas</a></li>
				<li><a th:href="@{/estudantes}">Estudantes</a></li>										
			</ul>
		</div>
	</div>
</body>
</section>		
</html>