<!DOCTYPE	html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz./thymeleaf/layout"
	layout:decorator="LayoutPadrao"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	</head>
<section layout:fragment="Conteudo">
<body>

	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Escolas</h1>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbarcollapse-1">
			<ul class="nav nav-pills navbar-left">
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{/escolas}">Escolas</a></li>
				<li><a th:href="@{/estudantes}">Estudantes</a></li>										
			</ul>
		</div>
		<div class="panel-body">
			<form class="form-inline" method="POST" th:object="${escola}"
				th:action="@{/escolas}" style="margin: 20px 0">
				<div class="form-group">
					<input type="hidden" th:field="*{id}"> 
					<input type="text" class="form-control" placeholder="Nome Fantasia" th:field="*{nome_fantasia}" />
					<input type="text" class="form-control" placeholder="Endereco" th:field="*{endereco}" />
			
					<button type="submit" class="btn btn-primary">Adicionar</button>
				</div>
			</form>		
						
					
			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Endereço</th>
						<th colspan=2>Ação</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="escola : ${escolas}">
						<td th:text="${escola.nome_fantasia}">Iff guarus</td>
						<td th:text="${escola.endereco}">Guarus</td>
						<!-- CONFIRMAR METODOS -->
						<td><a th:href="@{/escolas/alterar/}+${escola.id}" class="glyphicon glyphicon-pencil"></a></td>
						<td><a th:href="@{/escolas/excluir/}+${escola.id}" class="glyphicon glyphicon-trash"></a></td>

					</tr>					
				</tbody>
			</table>
		</div>		
	</div>
</body>
</section>
</html>